
  .secondary-button-text {
    font-size: 1.1rem !important;
    font-weight: 500;
  }
  
  .secondary-button {
    background-color: #ffffff;
    color: #1c2735;
    border-radius: 40px;
    border: 2px solid #1c2735;
    padding: 8px 24px;
    margin-right: 10px;
    cursor: pointer;
    height: 52px;
  }
  
  .secondary-button:hover {
    background-color: #5a6268; 
  }
  